#auth-wrapper{
    padding:100px 0px 150px;
    min-width:1440px;
    height: calc(100vh - 64px - 100px - 150px);
    min-height:960px;

    display: flex;
    justify-content: center;
    align-items: center;
}